<%= stylesheet_link_tag 'index', 'carousel', 'animate', 'product', 'grid' %>

<div class="grid">
	<div class="column col-8-of-8">
		<section id="product-main">
			<div class="main-title-author">
				<h1><%= @product.title %></h1>
				<h2><i>by <%= @product.author.full_name %></i></h2>
			</div>
			<div class="main-image">
				<img src= <%= "#{@product.bannerImg}" %>> 
			</div>
			<div class="grid">
				<div class="column col-3-of-8 offset-2-of-8">
					<div class="price-blob">
						<%= image_tag('book.png') %>
						<div class="pricing-text">
							<h2>PaperBack</h2>
							<p>£<%= @product.paper_price %> + Postage</p>
						</div>
						<input type="button" value="Buy">
					</div>
				</div>
				<div class="column col-3-of-8">
					<div class="price-blob">
						<%= image_tag('kindle.png') %>
						<div class="pricing-text">
							<h2>eBook</h2>
							<p>£<%= @product.ebook_price %> + Postage</p>
						</div>
						<input type="button" value="Buy">
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="grid" id="info">
	<div class="column col-5-of-8">
		<article>
			<p><%= @product.blurb %></p>
		</article>
	</div>
	<div class="column col-3-of-8">
		<div class="border-bottom">
			<aside id="additional-info">
				<div class="inner-text">
				<h4>Additional Info<h4>
					<h5>ISBN:</h5>
					<p><%= @product.ISBN %></p>
					<br>
					<h5>Paperback:</h5>
					<p><%= @product.pages %> Pages</p>
				</div>
			</aside>
		</div>
		<div id="about-author">
			<h2>About the Author</h2>
			<img src=<%= "#{@product.author.portrait}" %>
			<h5><%= @product.author.full_name %> </h5>
			<p><%= @product.author.bio %> </p>
			<h5 style="text-decoration: bold">Born on:<%= @product.author.dob %></h5>
		</div>
	</div>
</div>
<div class="grid" id="quotes">
	<h1>What people are saying</h1>
	<div class="column col-4-of-8">
		<div class="quote-content">
			<blockquote>Paulo elitr reprehendunt eos an, ne usu munere postea putant. Et doctus suscipit his. Ex mei menandri perpetua adipiscing. Everti audiam perpetua vel ex.

			Ius idque gubergren ne, cu mea solet tation iracundia, vel clita alienum invidunt id.
			
			<p>Bill Bryson</p>

			</blockquote>
		</div> 
	</div>
	<div class="column col-4-of-8">
		<div class="quote-content">
			<blockquote><%= @product.quotes.first.message %>

			<p><%= @product.quotes.first.writer %></p>

			</blockquote>
		</div> 
	</div>
 </div>
 <div class="grid" id="more-bits">
 	<h1>More Bits...</h1>
 	<div class="column col-2-of-8">
 		<div class="bit">
 			<%= image_tag('1984.jpg') %>
 			<p>a Little Bit more <b>Knowledge</b></p>
 		</div>
 	</div><!--
 --><div class="column col-2-of-8">
 		<div class="bit">
 			<%= image_tag('1984.jpg') %>
 			<p>a Little Bit more <b>Knowledge</b></p>
 		</div>
 	</div><!--
 --><div class="column col-2-of-8">
 		<div class="bit">
 			<%= image_tag('1984.jpg') %>
 			<p>a Little Bit more <b>Knowledge</b></p>
 		</div>
 	</div><!-- 
 --><div class="column col-2-of-8">
 		<div class="bit">
 			<%= image_tag('1984.jpg') %>
 			<p>a Little Bit more <b>Knowledge</b></p>
 		</div>
 	</div>
 </div>






