<h1> <%= @author.full_name %> </h1>

<% form_for @author, url_for(:author, :update, :id => @author.id), method: 'put' do |f| %>
	
	<%= f.label :full_name %>
	<%= f.text_field :full_name %>

	<%= f.label :bio %>
	<%= f.text_field :bio %>

	<%= f.label :dob %>
	<%= f.text_field :dob %>

	<%= f.submit %>	

<% end %>